:root {
  --coror-brand-light: #819b57;
  --coror-brand-dark: #465929;
  --coror-primary-dark: #31261a;
  --coror-primary-light: #faf4ea;
  --color-brand-super-light: #cfcfbc;
  --color-secondary-brawn: #a18268;
}
