.chefs-section {
  &__title {
    position: relative;
    margin: 24px;
    &::before,
    &::after {
      position: absolute;
      bottom: 23px;
      content: "";
      width: 352px;
      border: 2px solid #cfcfbc;

      @media screen and (min-width: $bp-tablet) {
        margin: 0 auto 80px;
      }
    }

    &::after {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
        right: 0;
      }
    }

    &::before {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
        left: 0;
      }
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }
}
