.footer {
  text-align: center;
  position: relative;
  background-image: url("../images/footer-background.png");
  background-color: var(--coror-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
  }

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__nav,
  &__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__logo {
    flex-grow: 1;
  }
  &__menu {
    flex-grow: 1;
  }

  &::after,
  &::before {
    position: absolute;
    bottom: 0;
    background-size: 100%;
    content: "";
  }

  &::before {
    width: 180px;
    height: 120px;
    background-image: url(../images/bread-small.png);
  }

  &::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(../images/bread-large.png);
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }
  &__address-link {
    color: var(--coror-primary-light);
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    &:hover {
      color: var(--coror-brand-light);
      font-size: 16px;
      font-weight: 200;
    }
  }

  &__address-icon {
    fill: var(--coror-primary-light);
    height: 32px;
    width: 32px;
  }

  &__address-icon:hover {
    fill: var(--coror-brand-light);
  }

  &__address-copyright {
    font-size: 14px;
  }
}
