.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border-radius: 8px;
  border: 1px solid var(--coror-primary-dark);
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--coror-brand-light);
  outline: none;
}

.form-label {
  display: block;
  font-size: 16px;
  line-height: 1.17;
}

.form-input::placeholder {
  color: var(--color-secondary-brawn);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--coror-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-button-description {
  max-width: 220px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.form-button-description-link {
  color: var(--coror-primary-dark);
  text-underline-offset: 2px;
}
