.format-cards {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border: 1px solid lightgray;
  border-radius: 16px;

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
  }
}
