.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: #a28268;
    border-radius: 50%;

    &--active {
      background-color: var(--coror-brand-dark);
    }
  }
}
